
<h2>Contacts</h2>

<div class="row">
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        (31) 685.862.225<br />
        <span class="email"><a href="mailto:alaa_darkashli@hotmail.com">E: alaa_darkashli@hotmail.com</a></span>
    </address>
    <address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                (31) 685.862.225<br />
                <span class="email"><a href="mailto:alaa_darkashli@hotmail.com">E: alaa_darkashli@hotmail.com</a></span>

   </address>
</div>
