
    <h2 class="header">ASPECT-ICT</h2>
  
    <div class="row">
        <div class="col-md-4">
            <h3>KENNIS</h3>
            <p>
                U wilt zorgeloos werken? Wij zetten onze brede kennis graag in om u te adviseren en te helpen de juiste keuzes te maken
            </p>
            <p><a class="btn btn-primary btn-sm" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>SERVICE</h3>
            <p>Met een persoonlijk plan van aanpak vertalen wij uw vraag naar een passend en professioneel advies en zijn we nauw betrokken bij de implementatie en het beheer van uw ICT-omgeving.</p>
            <p><a class="btn btn-primary btn-sm" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>SUPPORT</h3>
            <p>Bij vragen of calamiteiten kunt u terugvallen op onze goed opgeleide servicedesk medewerkers. Afhankelijk van de gemaakte afspraken kan dat zelfs 24 uur per dag.</p>
            <p><a class="btn btn-primary btn-sm" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h3>BEHEER</h3>
            <p>Ons beheerplan biedt u inzicht in uw eigen ICT-landschap, garandeert continuïteit en voorkomt problemen. Én u kunt zonder zorgen verder werken.</p>
            <p><a class="btn btn-primary btn-sm" href="#">Learn more &raquo;</a></p>
        </div>
    </div>